{
margin:0px;
padding:0px;
display: inline;
}

.block1 {
    width: 400px;
    height: 400px;
    display: inline-block;
    background: cyan;
    text-align: center;
    background-position: center;
}

.block2 {
    width: 400px;
    height: 400px;
    display: inline-block;
    background: red;
    text-align: center;
    background-position: center;
}

.block3 {
    width: 400px;
    height: 400px;
    display: inline-block;
    background: blueviolet;
    text-align: center;
    background-position: center;
}

.block4 {
    width: 400px;
    height: 400px;
    display: inline-block;
    background: silver;
    text-align: center;
    background-position: center;

}